<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!--
	| For more configuration infromation and examples see the Jakarta Log4j
	| owebsite: http://jakarta.apache.org/log4j
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="SYSOUT_CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{dd.MM.yyyy HH:mm:ss} [%p] [%c] [%x]: %m%n" />
		</layout>
    </appender>
	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->
	<category name="org.mortbay">
		<priority value="WARN" />
	</category>
	<category name="org.springframework">
		<priority value="WARN" />
	</category>
	<category name="org.apache.velocity">
		<priority value="WARN" />
	</category>
	<category name="org.directwebremoting">
		<priority value="WARN" />
	</category>
	<category name="org.hibernate">
		<priority value="WARN" />
	</category>
	<category name="org.hsqldb">
		<priority value="WARN" />
	</category>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<appender-ref ref="SYSOUT_CONSOLE" />
	</root>
</log4j:configuration>
