<html>
<head>
	<title>FLL</title>

	<STYLE TYPE="text/css">
	     .logo {page-break-before: always}
	</STYLE> 
</head>

<body>
#foreach($team in $plan.getSortedTeams())
	<img src="http://hjernekraft.org/App_Themes/Standard/images/logo.gif" class="logo"/>
	<H4>$team</H4>
	#foreach($plan in $plan.getPlanByTeamName($team))
		<pre>$plan.time	$plan.activity</pre>
	#end
#end

#foreach($activity in $plan.getSortedActivities())
	<img src="http://hjernekraft.org/App_Themes/Standard/images/logo.gif" class="logo"/>
	<H4>$activity</H4>
	#foreach($plan in $plan.getPlanByActivity($activity))
		<pre>$plan.time	$plan.team</pre>
	#end
#end

</body>
</html>