<html>
<head>
	<title>FLL</title>
	<STYLE TYPE="text/css">
	     .logo {page-break-before: always}
	     td {padding: 1px 10px 1px 10px;}
	</STYLE> 
</head>
<body>
<table>
<tr>
<td>
<img align="top" src="http://hjernekraft.org/App_Themes/Standard/images/logo.gif" class=".logo"/>
</td>
<td colspan="3">
<H1>Robotkamper</H1>
</td>
<tr/>
#foreach($item in $schedule)
<tr>
	<td>${item.time}</td>
	#if ($item.team1)
	<td align="right">${item.team1.number}</td>
	<td>${item.team1.name}</td>
	#else
	<td/><td/>
	#end
	#if ($item.team2)
	<td align="right">${item.team2.number}</td>
	<td>${item.team2.name}</td>
	#else
	<td/><td/>
	#end
</tr>
#end
</table>
</body>
</html>